@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
/* font-family: 'Oswald', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Phudu:wght@500&display=swap");
/* 
font-family: 'Shantell Sans', cursive; */

body {
  /* background-color: #575455; */
  padding: 0;
  margin: 0;
}
